@import url(../css/monokai.css);

body {
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
    background-color: #1a1a1a;
    color: #c0c0c0;
}

a:link, a:visited {
    color: #ff7472;
    text-decoration: none;
}

a:hover {color: white;}

#main {
    max-width: 960px;
    margin: 0 auto;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
    -webkit-justify-content: flex-start;

    list-style-type: none;
    padding:0;
    margin:0;
}

.horizontal-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;

    list-style-type: none;
    padding:0;
    margin:0;
}

.horizontal-left-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;

    list-style-type: none;
    padding:0;
    margin:0;
}

.flex-item {
    align-self: auto;
    -webkit-align-self: auto;
}

.box {
    align-self: stretch;
    -webkit-align-self: stretch;

    background-color: #2a2a2a;
    display: block;
    margin: 0.2em;
    padding: 0.4em;
}

.box-padder {
    align-self: stretch;
    -webkit-align-self: stretch;
}

.box:hover {
    background-color: #5d5d5d;
    transition: background-color 0.5s ease;
}

.bottom-box {
    align-self: flex-start;
    -webkit-align-self: flex-start;

    background-color: #2a2a2a;
    margin: 0.2em;
    padding: 0.4em;
}

.navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: flex-start;
}

.navbar .title {
    flex-basis: auto;
    -webkit-flex-basis: auto;

    align-content: center;
    -webkit-align-content: center;

    font-size: 2em;
    background-color: #ff7472;

    line-height: 2em;
    text-align: center;
    padding: 0em 1em;
    color: black;
    margin: 0.1em 0.1em 0.1em 0;
}

.navbar .nav-item {
    display: block;
    text-decoration: none;
    padding: 1em 0.6em;
    margin: 0 0.2em 0 0.2em;
    line-height: 2em;
    color: #ff7472;
    align-content: center;
    align-self: center;

    -webkit-align-content: center;
    -webkit-align-self: center;

    background-color: #2a2a2a;
    transition: background-color 0.5s ease;
}

.horizontal-list .post-date {
    align-self: flex-start;
    -webkit-align-self: flex-start;
}

/* post title below date on small screens */
.horizontal-list .post-title {
    display: flex;
    display: -webkit-flex;
}

.date-label {
    color: black;
    background-color: #ff7472;
    padding: 0.2em;
}

.subtitle {
    margin: 0 0 0 0.2em;
    background-color: #2a2a2a;
    padding: 0.2em;
    font-weight: normal;
}

.large-text-box {
    margin: 0.1em 0 0.2em 0;
    padding: 0.2em;
    background-color: #2a2a2a;
}

.navbar .ender {
    margin-left: auto;
    margin-right: 0;

}

.nav-item:hover {background-color: #747474;}

pre {background-color: #373737;padding: 0.2em;}

.contrast {color: silver;}